.fieldError{
  background: red;
  color: white;
  font-size: 1.7rem;
  text-align: center;
  text-transform: capitalize;
}
.message{
  background: green;
  color: white;
  font-size: 1.7rem;
  text-align: center;
  text-transform: capitalize;
}